body {
    background-color: rgba(240, 248, 255, 0.7);
    --background: hsla(204, 25%, 3%);
    background: url(back.jpg);
    padding: 0 30px;
  
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #f7fa58;
  }
  header{
    h1{background-color: rgba(240, 248, 255, 0.7);}
    h2{background-color: rgba(240, 248, 255, 0.7);}
  }
  main{
    background-color: rgba(240, 248, 255, 0.7);
    font-family: "Verdana", sans-serif;
    
  }
  p{
    padding-left:20px;
  }
  pre{
    
    color: white;
  }
  
  h1 {
    background-color: rgba(240, 248, 255, 0.9);
    font-size: 20px;
    line-height: normal;
  }
  
  nav {
    background-color: rgba(240, 248, 255, 0.9);
    color: #f7fa58;
  }
  
  aside {
    background-color: rgba(240, 248, 255, 0.9);
    margin: 20px 0;
    color: #c4c4c4;
  }
  footer{
    background-color: rgba(240, 248, 255, 0.7);
  }
  .message-ball {
    font-size: 20px;
    line-height: 200px;
    text-align: center;
  }
  .circle {
    transition-property: width, height;
    transition-duration: 2s;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 50%;
  }
  code {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
  }
  button{
    background-color: rgba(240, 248, 255, 0.9);
    color: #f7fa58;
    border-color: red
  }
  blockquote {
    padding-left: 14px;
    border-left: 2px solid #02a2ff;
  
    color: #02a2ff;

  }
  h2{
    background-color: rgba(240, 248, 255, 0.7);
  }
  .circle1 {
    transition-property: width, height;
    transition-duration: 0.1s;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    color: red;
    font-weight:1000;
  }
  .circle2 {
    transition-property: width, height;
    transition-duration: 0.5s;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    background: url(Photo.jpg);
    border-radius: 50%;
  }
  fgd{
    text-align: center;
  }
  *{
    background:linear-gradient((#5e5e5e 85%)(#45454f 100%))
  }